* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CLASSESS */
/* HEADER CSS */
.header {
    background-color: #f1f1f1;
    text-align: center;
    padding-bottom: 180px;
}

.navbar {
    background-color: black;
    padding-top: 32px;
    height: 80px;
}

.head-title {
    font-size: 4rem;
    margin: 0 auto;
    font-family: Tablet Gothic, Frutiger, Frutiger Linotype, Univers, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-weight: 700;
    font-style: normal;
    padding-top: 64px;
}

.head-subtitle {
    font-size: 2rem;
    max-width: 700px;
    margin: 24px auto 0;
    letter-spacing: -0.3px;
    font-family: Adelle, "Tablet Gothic", Frutiger, "Frutiger Linotype", Univers, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.head-title, .head-subtitle {
    color: #313945;
}

/* END HEADER CSS */
/* SECTION CSS */
.container {
    position: relative;
    /* width: 1170px; */
    padding: 0 15px;
    margin: -80px 80px 150px auto;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.lsc {
    float: left;
    width: 50%;
    padding: 0 15px;
}

.rsc {
    float: left;
    width: 50%;
}
.rsc, .lsc {
    text-align: center;
}

/* END SECTION CSS */
/* LEFT SIDE CSS */
.ls-head {
    font-family: Tablet Gothic, Frutiger, Frutiger Linotype, Univers, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0;
    line-height: 30px;
    margin-bottom: 20px;
    color: #000;
    text-align: center;
    font-size: 34px;
    margin-bottom: 20px;
}

.lsimg {
    margin-bottom: 100px;
}

.list {
    margin: 0 10% 0 25%;
    text-align: start;
}

.fa-check {
    color: #5ecd9f;
}

.list>li {
    font-family: Tablet Gothic, Frutiger, Frutiger Linotype, Univers, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 18px;
}

/* END LEFT SIDE CSS */
/* RIGHT SIDE CSS */
.form-card {
    box-shadow: 0 0 50px rgb(0 0 0 / 10%);
    background-color: white;
    padding: 15px;
    margin: 0 30px;
    max-width: 525px;
    max-height: 800px ;
}

.form-head {
    display: block;
    padding-top: 25px;
    text-align: center;
    color: black;
}

.form-head>.form-title {
    display: block;
    font-size: 2.5rem;
    font-family: Tablet Gothic, Frutiger, Frutiger Linotype, Univers, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.form-head>.form-subtitle {
    font-size: 26px;
    font-family: Adelle, "Tablet Gothic", Frutiger, "Frutiger Linotype", Univers, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-style: italic;
    font-weight: 400;
}

.row>.input>input, input[type="password"i] {
    text-align: start;
    border: 2px solid #bac7d0;
    font-size: 12px !important;
    padding: 18px 5px !important;
    font-size: 12px;
    margin: 6.5px 0;
    border-radius: 0;
    background: #fff !important;
    width: 100%;
}

.row>.input>input:focus, input[type="password"i]:focus {
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}

.check > div > input[type="checkbox" i]:not(:checked) + .check > div > label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 12px;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 1px solid #bac7d0!important;
    border-radius: 0!important;
}

.input {
    width: 50%;
    padding: 0 15px;
}

input[type="password"i] {
    margin: 6.5px 15px;
}

::placeholder {
    color: #00000088;
    font-size: 11px;
    font-weight: bolder;
}

.password {
    color: #627684;
    font-size: 14px;
    line-height: 18px;
    float: none;
    font-weight: normal;
    margin: 0 15px;
    font-family: Tablet Gothic, Frutiger, Frutiger Linotype, Univers, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

.password>.label {
    float: left;
    margin: 10px 0 5px;
    font-weight: normal;
}

.progress {
    min-width: 100%;
    height: 8px;
    background-color: #DDE5E7;
    border: #DDE5E7 solid;
    border-radius: 5px;
    margin: 0px 0 5px 0;
}

.label>li {
    list-style: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #627684;
    padding: 5px 0;
}

.label>li>i {
    cursor: default !important;
    background: #a4bbc1;
    color: #a4bbc1;
    border-radius: 50%;
}

.label>li>i:hover {
    color: #44525e;
}

.password>.label {
    width: 100%;
    text-align: start;
}

.password>.label>li {
    width: 33%;
    float: left;
}

.check {
    margin: 0 15px;
    text-align: start;
    font-family: Tablet Gothic, Frutiger, Frutiger Linotype, Univers, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15.8px;
    color: #000;
    letter-spacing: 0;
    line-height: 20px;
}

.check>div>label>small {
    font-style: normal;
    font-weight: normal;
}

.check>div {
    margin: 22px 0;
}

input[type=checkbox]:hover {
    cursor: pointer;
}

.signup {
    width: 100%;
    font-size: 18px;
    padding: 16px;
    background-color: #eecf1e;
    border: 0;
    font-family: Tablet Gothic, Frutiger, Frutiger Linotype, Univers, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.signup:hover {
    color: #fff;
    background-color: #000;
}

.google {
    width: 100%;
    font-size: 18px;
    padding: 16px;
    background-color: #fff;
    border: 3px solid #000;
    font-family: Tablet Gothic, Frutiger, Frutiger Linotype, Univers, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.google:hover {
    background: #4285F4 !important;
    opacity: 0.7;
}

.signup:hover,.google:hover {
    cursor: pointer;
}

.line {
    color: #bac7d0;
    font-family: Tablet Gothic, Frutiger, Frutiger Linotype, Univers, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-style: normal;
    font-size: 15.8px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #bac7d0;
    line-height: 0.1em;
    margin: 10px 0 20px;
}

.line>span {
    background: #fff;
    padding: 0 10px;
}

/* END RIGHT SIDE CSS */
/* FOOTER CSS */
.footer {
    background-color: #eef2f3;
    padding: 0 40px;
}

.footer>.r {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0 0 0;
    padding: 0 40px 40px;
}

.footer>.r>.c > img {
    margin: 0 30px;
    padding: 10px 0;
    opacity: .7;
}

.fhead {
    text-align: center;
    font-family: Tablet Gothic, Frutiger, Frutiger Linotype, Univers, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 14px;
    color: #92a5b0;
    letter-spacing: 0;
    padding-top: 20px;
    padding-bottom: 0;
}

.fbtn {
    font-family: Tablet Gothic, Frutiger, Frutiger Linotype, Univers, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    border: 2px solid #1a89bb;
    background: #e0e3e4;
    color: #1a89bb;
    padding: 10px 20px;
    font-weight: 700;
    font-style: normal;
}

.fbtn:hover {
    background: #1a89bb;
    color: #fff;
    border-color: #fff;
    cursor: pointer;
}

/* END FOOTER CSS */
/* HTML TAGES CSS */
form {
    margin: 20px 0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

/* END HTML TAGES CSS */